:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #212631;
    --primary-color: #ee4d2d;
    --boder-color: #dbdbdb;
    --star-gold-color: #FFCE3E;
    --item1-color: #4BB92F;
    --item2-color: #ff8700;
    --item3-color: #0078ff;
    --item4-color: #8d00ff;

    --header-height: 64px;
}

* {
    box-sizing: inherit;
}

html {
    min-height: 100%;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}


@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.4;
    }
}