/* PC */
@media (min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }
}

/* PC & Tablet */
@media (min-width: 740px) {
    .hide-on-tablet-pc {
        display: none;
    }
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .propose-item-link {
        margin-top: 20px;
    }

    .hide-on-mobile-tablet {
        display: none;
    }

    /* Recent section css reponsive */
    .app {
        overflow-x: hidden;
        padding: 10px;
    }

    .recent-item {
        height: 400px;
    }

    .recent-item__img {
        height: 80%;
    }

   
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {


    .hide-on-tablet {
        display: none;
    }

}

/* Mobile */
@media (max-width: 739px) {


    .hide-on-mobile {
        display: none;
    }


}

/* Low Mobile */
@media (max-width: 520px) {

}



