/* Header section css */
.header {
    height: var(--header-height);
    border-bottom: 1px solid var(--boder-color);
}

.header_wrap {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__logo {
    height: 100%;
    padding-right: 20px;
    border-right: 1px solid var(--boder-color);
}

.header__logo a {
    display: inline-block;
    height: 100%;
    line-height: var(--header-height);
    font-size: 4rem;
    color: var(--text-color);
    font-weight: 500;
}

.header__logo a span {
    color: rgb(117, 114, 114);
}

.header__nav {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__nav > a {
    height: 100%;
    line-height: var(--header-height);
    font-size: 1.8rem;
    color: var(--text-color);
    opacity: 0.98;
    padding: 0 20px;
    border-right: 1px solid var(--boder-color);
}

.nav-list {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.nav-item {
    height: var(--header-height);
}

.nav-item a {
    transition: all .2s linear;
    position: relative;
    display: inline-block;
    padding: 0 20px;
    font-size: 1.8rem;
    color: var(--text-color);
    opacity: 0.98;
    height: 100%;
    line-height: var(--header-height);
    border-right: 1px solid var(--boder-color);
}

.nav-item:nth-child(1):hover a {
    color: var(--item1-color);
}

.nav-item:nth-child(2):hover a {
    color: var(--item2-color);
}

.nav-item:nth-child(3):hover a {
    color: var(--item3-color);
}

.nav-item:nth-child(4):hover a {
    color: var(--item4-color);
}


.nav-item:nth-child(1) a::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--item1-color);
}
.nav-item:nth-child(2) a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--item2-color);
}
.nav-item:nth-child(3) a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--item3-color);
}
.nav-item:nth-child(4) a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--item4-color);
}

.header__search {
    position: relative;
    margin-left: 60px;
    padding: 10px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
}

.search__input {
    font-size: 1.6rem;
    color: var(--text-color);
    border: none;
    outline: none;
    flex: 1;
}

.search__icon {
    height: 100%;
    font-size: 2.2rem;
    font-weight: 600;
    opacity: 0.4;
    margin-left: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    line-height: 42px;
    padding: 0 10px;
    display: none;
    animation: headerNotifyGrowth ease-out 0.2s;
}

.search__input:not(:placeholder-shown) + .search__icon,
.search__input:focus + .search__icon {
    display: block;
}

/* Propose section css begin */
.propose {
    padding-top: 40px;
}

.propose-item-link {
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    height: 334px;
    display: block;
    transition: all .2s linear;
}

.propose-item-link:hover {
    opacity: 0.9;
}

.propose-item {
    padding: 20px 15px;
    height: 334px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.propose-item__info {
    margin-bottom: 20px;
}

.tags-label,
.category-item__count,
.propose-info__label {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    background-color: var(--item2-color);
    padding: 4px 8px;
    text-transform: uppercase;
    border-radius: 2px;
    margin-right: 20px;
    transition: all .2s linear;
}

.tags-label:hover,
.category-item__count:hover,
.recent-item__img:hover,
.propose-info__label:hover {
    opacity: 0.9;
}

.category-item__count[data-type="javascript"],
.propose-info__label[data-type="javascript"] {
    background-color: var(--item2-color);
}

.category-item__count[data-type="jquery"],
.propose-info__label[data-type="jquery"] {
    background-color: var(--item4-color);
}

.category-item__count[data-type="web-design"],
.propose-info__label[data-type="web-design"] {
    background-color: var(--item1-color);
}

.category-item__count[data-type="css"],
.propose-info__label[data-type="css"] {
    background-color: var(--item3-color);
}

.propose-info__date {
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
    text-shadow: 0 0 1px black;
    cursor: text;
}

.propose-item__title {
    font-size: 2.4rem;
    color: white;
    font-weight: 700;
    text-shadow: 0 0 1px #333;
}

.recent-item__title:hover,
.propose-item__title:hover {
    text-decoration: underline;
}

/* Recent section css */
.category-title,
.most-read-title,
.recent-title {
    font-size: 2.8rem;
    opacity: 0.9;
    margin: 30px 0;
}

.most-item,
.recent-item {
    display: block;
    height: 310px;
    padding: 4px;
    margin-bottom: 50px;
}

.most-item__img,
.recent-item__img {
    width: 100%;
    height: 70%;
    background-size: cover;
    border-radius: 2px;
}

.most-item__body,
.recent-item__body {
    margin-top: 20px;
}

.item-body__info__date {
    color: var(--text-color);
    text-shadow: none;
}

.recent-item__title {
    margin-top: 20px;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 700;
}

/* Most View section */
.most-item {
    height: 220px;
    display: flex;
    justify-content: space-between;
}

.most-item__img {
    width: 320px;
    height: 100%;
    margin-right: 30px;
}

.most-item__body {
    flex: 1;
    margin-top: 0;
    display: block;
}

.most-item__content {
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.4;
    margin: 20px 0 0 0;
}

/* Category section */
.category-item {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--boder-color);
}

.category-item:hover {
    cursor: pointer;
}

.category-item__title {
    font-size: 16px;
    color: var(--text-color);
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
}

.tags-label {
    background-color: #212631;
    margin-top: 6px;
    margin-right: 6px;
}

.most-read-more-btn {
    display: block;
    text-align: center;
    max-width: 180px;
    line-height: 30px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 70px;
}

/* Footer section css */

.footer {
    border-top: 1px solid var(--boder-color);
    padding-top: 50px;
    padding-bottom: 70px;
}

.footer__logo {
    font-weight: 700;
    height: 60%;
    border-right: unset;
}

.footer-policy {
    margin-bottom: 20px;
}

.footer-categories a,
.footer-aboutus a,
.footer-copyright a,
.footer-policy a {
    font-size: 16px;
    font-weight: 600;
    color: #a7b3c6;
    margin-right: 20px;
    transition: all .2s linear;
}

.footer-categories a:hover,
.footer-aboutus a:hover,
.footer-copyright a:hover,
.footer-policy a:hover {
    color: #212631;
}

.footer-copyright {
    font-size: 14px;
    opacity: 0.8;
}

.footer-categories,
.footer-aboutus {
    display: flex;
    flex-direction: column;
}

.footer-categories a,
.footer-aboutus a {
    margin-bottom: 10px;
}

.join-form {
    position: relative;
    transition: all .2s linear;
}

.footer-join {
    font-size: 16px;
    color: var(--text-color);
}

.join-form__input {
    width: 100%;
    border: 1px solid var(--boder-color);
    outline: none;
    padding: 10px 15px;
    padding-right: 25px;
    transition: all .1s linear;
    border-radius: 2px;
    margin-bottom: 20px;
}

.join-form__input:focus {
    border: 1px solid #212631;
}

.join-form__icon {
    width: 25px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 0;
    font-size: 20px;
    right: 5px;
    color: #a7b3c6;
}

.footer-socials span:hover,
.join-form__icon:hover {
    opacity: 0.8;
    cursor: pointer;
}


.footer-socials {
    font-size: 30px;
    color: #a7b3c6;
}

.footer-socials span {
    margin-right: 15px;
    transition: all .2s linear;
}

.footer-title h2 {
    color: #212631;
    font-size: 18px;
    margin-bottom: 30px;
}
