/* Header section css */
.header {
    height: var(--header-height);
    border-bottom: 1px solid var(--boder-color);
}

.header_wrap {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__logo {
    height: 100%;
    padding-right: 20px;
    border-right: 1px solid var(--boder-color);
}

.header__logo a {
    display: inline-block;
    height: 100%;
    line-height: var(--header-height);
    font-size: 4rem;
    color: var(--text-color);
    font-weight: 500;
}

.header__logo a span {
    color: rgb(117, 114, 114);
}

.header__nav {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__nav > a {
    height: 100%;
    line-height: var(--header-height);
    font-size: 1.8rem;
    color: var(--text-color);
    opacity: 0.98;
    padding: 0 20px;
    border-right: 1px solid var(--boder-color);
}

.nav-list {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.nav-item {
    height: var(--header-height);
}

.nav-item a {
    transition: all .2s linear;
    position: relative;
    display: inline-block;
    padding: 0 20px;
    font-size: 1.8rem;
    color: var(--text-color);
    opacity: 0.98;
    height: 100%;
    line-height: var(--header-height);
    border-right: 1px solid var(--boder-color);
}

.nav-item:nth-child(1):hover a {
    color: var(--item1-color);
}

.nav-item:nth-child(2):hover a {
    color: var(--item2-color);
}

.nav-item:nth-child(3):hover a {
    color: var(--item3-color);
}

.nav-item:nth-child(4):hover a {
    color: var(--item4-color);
}


.nav-item:nth-child(1) a::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--item1-color);
}
.nav-item:nth-child(2) a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--item2-color);
}
.nav-item:nth-child(3) a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--item3-color);
}
.nav-item:nth-child(4) a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--item4-color);
}

.header__search {
    position: relative;
    margin-left: 60px;
    padding: 10px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
}

.search__input {
    font-size: 1.6rem;
    color: var(--text-color);
    border: none;
    outline: none;
    flex: 1;
}

.search__icon {
    height: 100%;
    font-size: 2.2rem;
    font-weight: 600;
    opacity: 0.4;
    margin-left: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    line-height: 42px;
    padding: 0 10px;
    display: none;
    animation: headerNotifyGrowth ease-out 0.2s;
}

.search__input:focus + .search__icon {
    display: block;
}

/* Propose section css begin */
.propose {
    padding-top: 40px;
}

.propose-item-link {
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    height: 334px;
    display: block;
    transition: all .2s linear;
}

.propose-item-link:hover {
    opacity: 0.9;
}

.propose-item {
    padding: 20px 15px;
    height: 334px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.propose-item__info {
    margin-bottom: 20px;
}

.propose-info__label {
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    background-color: var(--item2-color);
    padding: 3px 10px;
    text-transform: uppercase;
    border-radius: 2px;
    margin-right: 20px;
    transition: all .2s linear;
}

.recent-item__img:hover,
.propose-info__label:hover {
    opacity: 0.9;
}

.propose-info__label[data-type="javascript"] {
    background-color: var(--item2-color);
}

.propose-info__label[data-type="jquery"] {
    background-color: var(--item4-color);
}

.propose-info__label[data-type="web-design"] {
    background-color: var(--item1-color);
}

.propose-info__label[data-type="css"] {
    background-color: var(--item3-color);
}

.propose-info__date {
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
    text-shadow: 0 0 1px black;
    cursor: text;
}

.propose-item__title {
    font-size: 2.4rem;
    color: white;
    font-weight: 700;
    text-shadow: 0 0 1px #333;
}

.recent-item__title:hover,
.propose-item__title:hover {
    text-decoration: underline;
}

/* Recent section css */
.recent-title {
    font-size: 2.8rem;
    opacity: 0.9;
    margin: 30px 0;
}

.recent-item {
    display: block;
    height: 310px;
    padding: 4px;
    margin-bottom: 50px;
}

.recent-item__img {
    width: 100%;
    height: 70%;
    background-size: cover;
    border-radius: 2px;
}

.recent-item__body {
    margin-top: 20px;
}

.item-body__info__date {
    color: var(--text-color);
    text-shadow: none;
}

.recent-item__title {
    margin-top: 20px;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 700;
}
